In [44]:
import sqlite3
import pandas as pd

In [ ]:
banco = '/workspaces/projeto_ing/database/sqlite/bronze/banco_geo.db'
conn = sqlite3.connect(banco)
query_bronze = 'select * from tabela_detalhegeo'
df = pd.read_sql_query(query_bronze, conn)
# display(df)

df['localizacao_repl_compl'] = df['localizacao_completa'].str.replace('São Paulo', 'SãoPaulo')
df['cidade'] = df['localizacao_repl_compl'].str.split().str[0]
df['regiao'] = df['localizacao_repl_compl'].str.split().str[1:5]
df['regiao'] = df['localizacao_repl_compl'].str.split().str[16]
# df = df['localizacao_repl_compl'].str.replace('NaN', 'Sudeste')
# df = pd.Timestamp.now().strftime('%Y-%m-%d')
df['dtHora_inclusao'] = pd.Timestamp.now().strftime('%Y%m%d:%H%m%s')
display(df)

silver = '/workspaces/projeto_ing/database/sqlite/silver/localizacao.db'
conn_silver = sqlite3.connect(silver)

#ajustar query abaixo
for _, row in df.iterrows():
    query_insert = '''
    INSERT INTO tb_slvr_geo (
        id, nome, idMunicipio, nomeMunicipio, idMacro, nomeMacroMunicipio, 
        idUf, estado, siglaUf, idRegiao, regiao, siglaRegiao, dtIgtao
    ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
    '''
    data = (
        int(row['id']), row['nome'], int(row['id_mun']), row['nm_mun'],
        int(row['id_mcr']), row['nm_mcr'], int(row['id_uf']), row['nm_uf'],
        row['sigla_uf'], int(row['id_reg']), row['nm_reg'], row['sigla_rg'],
        pd.Timestamp.now().strftime('%Y-%m-%d') 
    )
    conn_silver.execute(query_insert, data)
conn_silver.commit()
conn_silver.close()

print("Dados transferidos com sucesso!")

,localizacao_completa,dados_detalhados,code,localizacao_repl_compl,cidade,regiao,dtHora_inclusao
0,"Mairiporã, Região Imediata de São Paulo, Regiã...","['Mairiporã', 'Região Imediata de São Paulo', ...",Brasil,"Mairiporã, Região Imediata de SãoPaulo, Região...","Mairiporã,","Sudeste,",20241130:16111732984145
1,"São Paulo, Região Imediata de São Paulo, Regiã...","['São Paulo', 'Região Imediata de São Paulo', ...",Brasil,"SãoPaulo, Região Imediata de SãoPaulo, Região ...","SãoPaulo,","Sudeste,",20241130:16111732984145
2,"Atibaia, Região Imediata de Bragança Paulista,...","['Atibaia', 'Região Imediata de Bragança Pauli...",Brasil,"Atibaia, Região Imediata de Bragança Paulista,...","Atibaia,",NaN,20241130:16111732984145
3,"Campinas, Região Imediata de Campinas, Região ...","['Campinas', 'Região Imediata de Campinas', 'R...",Brasil,"Campinas, Região Imediata de Campinas, Região ...","Campinas,","Sudeste,",20241130:16111732984145
4,"Guarulhos, Região Imediata de São Paulo, Regiã...","['Guarulhos', 'Região Imediata de São Paulo', ...",Brasil,"Guarulhos, Região Imediata de SãoPaulo, Região...","Guarulhos,","Sudeste,",20241130:16111732984145
5,"Osasco, Região Imediata de São Paulo, Região M...","['Osasco', 'Região Imediata de São Paulo', 'Re...",Brasil,"Osasco, Região Imediata de SãoPaulo, Região Me...","Osasco,","Sudeste,",20241130:16111732984145

In [2]:
banco = '/workspaces/projeto_ing/database/sqlite/bronze/banco_geo.db'
conn = sqlite3.connect(banco)
query = 'drop table slvr_geo'

cursor = conn.execute(query)
print('comando executado com sucesso:')
print(query)

comando executado com sucesso:
drop table slvr_geo

In [3]:
conn.commit()
conn.close()