In [58]:
import sqlite3

In [59]:
banco = '/workspaces/projeto_ing/database/sqlite/silver/weather.db'
conn = sqlite3.connect(banco)
cursor = conn.cursor

In [62]:
drop_table = ''' drop table tb_slvr_weather '''
cursor.execute(drop_table)
conn.commit()
conn.close()

AttributeError: 'builtin_function_or_method' object has no attribute 'execute'

In [60]:
create_silver = '''

create table if not exists tb_slvr_weather (
  cidade TEXT,
  pais TEXT,
  temperatura FLOAT(4,2),
  temp_max FLOAT(4,2),
  temp_min FLOAT(4,2),
  unidade INTEGER,
  prob_chuva INTEGER,
  data DATE,
  latitude DECIMAL(10,8),
  longitude DECIMAL(10,8),
  tempo TEXT,
  dt_igtao DATE
)
'''

In [ ]:
cursor.execute(create_silver)

In [61]:
cursor.execute(create_silver)
conn.commit()

AttributeError: 'builtin_function_or_method' object has no attribute 'execute'

In [46]:
import sqlite3
banco = '/workspaces/projeto_ing/database/sqlite/silver/weather.db'
conn = sqlite3.connect(banco)
cursor = conn.cursor()

# Consulta SQL para listar todas as tabelas no banco de dados
show_tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(show_tables_query)

# Recuperar o resultado da consulta e imprimir as tabelas
tables = cursor.fetchall()
print("Tabelas no banco de dados:")
for table in tables:
    print(table[0])

# Fechar a conex√£o
conn.close()

Tabelas no banco de dados:
tb_slvr_weather