In [86]:
import sys
import os
from datetime import datetime
import time
import pandas as pd

sys.path.append(os.path.abspath('/workspaces/projeto_ing/utils/shered_utils/'))

from sql_conn import conectar_mongodb
from sql_conn import conectar_bronze
from sql_conn import enviar_para_mongodb
from sql_conn import mensagem

''' 
Motor dedicado ao carregamento e envio de dados para o mongo.db

Utilizndo a função conectar_mongo para conexão entre fontes
Utilizndo a função conectar_bronze para realizar a transformação dos dados a serem enviados
Utilizndo a função enviar_para_mongodb para envio do DataFrame para a collection

'''
# path = '/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/'
timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')

def carregamento_landing(path=None, file=None, resultado=None):
    import os
    import sys
    
    if path is None:
        path = '/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/'
        print('caminho não informado')
        print('utilizando o padrão:')
        print(f'{path}')
    
    read_landing = os.listdir(path)
    
    for reads in read_landing:
        accept = os.path.join(path, reads)
        print(f'item encontrado: {accept}')
        
        if accept.endswith('.txt'):
            resultado = pd.read_csv(accept, delimiter=';', skiprows=[0])
            # print(resultado)
        else:
            raise ValueError("Formato de arquivo não suportado")
    
    return resultado

In [89]:
# path = '/workspaces/projeto_ing/tests/app/src/teste_landing/'
resultado = carregamento_landing()
# df = pd.DataFrame(resultado)
# display(df)

caminho não informado
utilizando o padrão:
/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/
item encontrado: /workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/resultado_teste2_20242306_215405.txt
item encontrado: /workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/resultado_cep_mairiporã_20241014_231311.txt

In [94]:
def enviar_para_mongodb(consulta, colunas, mongo_collection):
    """
    Converte os dados do SQLite em um DataFrame e insere no MongoDB.

    Parâmetros:
    - consulta (list of tuples): Dados retornados do SQLite.
    - colunas (list): Lista com os nomes das colunas.
    - mongo_collection (Collection): Coleção do MongoDB onde os dados serão inseridos.
    """
    
    if not consulta:
        print("Nenhum dado para inserir no MongoDB.")
        return
    
    df = pd.DataFrame(consulta, columns=colunas)
    df = df.where(pd.notna(df), None)
    
    data_dict = df.to_dict("records")
    mongo_collection.insert_many(data_dict)
    print(data_dict)
    print("Dados inseridos com sucesso no MongoDB!")

In [96]:
consulta = resultado

client, collection = conectar_mongodb()

if collection is not None:
    enviar_para_mongodb(consulta, colunas, collection)

Conexão bem-sucedida com o MongoDB!

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [4]:
conectar_mongodb()

Conexão bem-sucedida com o MongoDB!

(MongoClient(host=['cluster001dev-shard-00-00.vgq0k.mongodb.net:27017', 'cluster001dev-shard-00-02.vgq0k.mongodb.net:27017', 'cluster001dev-shard-00-01.vgq0k.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-142osk-shard-0', tls=True),
 Collection(Database(MongoClient(host=['cluster001dev-shard-00-00.vgq0k.mongodb.net:27017', 'cluster001dev-shard-00-02.vgq0k.mongodb.net:27017', 'cluster001dev-shard-00-01.vgq0k.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-142osk-shard-0', tls=True), 'dev_mongo001_rf'), 'collection_test_mng_dev'))

In [6]:
db_sqlite = "bnc_log_igtao.db"

conn, cursor, caminho_bronze, consulta, colunas, query = conectar_bronze(db_sqlite, tabela= "tb_log_igtao")

Conectado ao SQLite Bronze: bnc_log_igtao.db
Tabelas no banco de dados:
tabela_log_igtao
tb_log_igtao

In [9]:
df_brnz = pd.read_sql_query(query, conn)
display(df_brnz)

,nome_banco,nome_tabela,nome_arquivo,tipo_arquivo,data_inclusao,dt_igtao
0,banco_logigtao,logigtao,arquivo_logigtao_20250224_104223.txt,txt,20250224142210,2025-02-24
1,banco_teste,teste,arquivo_teste_20250224_104223.txt,txt,20250224142510,2025-02-24
2,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145404,2025-02-24
3,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145507,2025-02-24
4,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145518,2025-02-24
5,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145753,2025-02-24
6,banco_mairipora,tabela_mairipora,arquivo_mairipora_20250224_104223.txt,txt,20250224150135,2025-02-24
7,banco_weather,tabela_weather,resultado_weather_20250108_163946.txt,txt,20250225184651,2025-02-25

In [3]:

file = '/workspaces/projeto_ing/apis/app/src/caldr/feriado_nacional_20250126_140402.txt' 

uri, client, collection, file = conectar_mongodb(file)

TypeError: conectar_mongodb() takes 0 positional arguments but 1 was given

In [30]:
def carregamento_landing(path=None, file=None):
    if path is None:
        path = '/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/'
        print('caminho não informado')
        print('utilizando o padrão:')
        print(f'{path}')
        
    if file is None:
        file = 'teste.txt'
    
    return path, file

In [29]:
carregamento_landing()

caminho não informado
utilizando o padrão:
/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/

('/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/',
 'teste.txt')

In [ ]:
## salvar no sql_conn

In [83]:
def carregamento_landing(path=None, file=None, resultado=None):
    import os
    import sys
    
    if path is None:
        path = '/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/'
        print('caminho não informado')
        print('utilizando o padrão:')
        print(f'{path}')
    
    read_landing = os.listdir(path)
    
    for reads in read_landing:
        accept = os.path.join(path, reads)
        print(f'item encontrado: {accept}')
        
        if accept.endswith('.txt'):
            resultado = pd.read_csv(accept, delimiter=';', skiprows=[0])
            # print(resultado)
        else:
            raise ValueError("Formato de arquivo não suportado")
    
    return resultado

In [77]:
carregamento_landing()

caminho não informado
utilizando o padrão:
/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/
item encontrado: /workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/resultado_teste2_20242306_215405.txt
item encontrado: /workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/resultado_cep_mairiporã_20241014_231311.txt

('/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/',
 None,
      07601-345                           Avenida Hum      Olho D'Água  \
 0    07613-690                          Avenida Rubi      Mantiqueira
 1    07613-655                          Avenida Ouro      Mantiqueira
 2    07627-160                         Avenida Berna    Luiz Fagundes
 3    07657-210                         Avenida Alpes      Mato Dentro
 4    07613-680                        Avenida Safira      Mantiqueira
 ..         ...                                   ...              ...
 165  07600-598  Rodovia Prefeito Luiz Salomao Chamma          Lavapés
 166  07605-700  Rodovia Prefeito Luiz Salomao Chamma       Rio abaixo
 167  07600-740    Estrada Armando Barbosa de Almeida  Chácara Arantes
 168  07604-525    Estrada Armando Barbosa de Almeida           Caceia
 169  07605-005    Estrada Armando Barbosa de Almeida       Rio abaixo

                Unnamed: 3  SP  Mairiporã  São Paulo  Sudeste  11  3528502  \
 0                     NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 1                     NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 2    (Pq Suiço Cant 1 Gl)  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 3                     NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 4                     NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 ..                    ...  ..        ...        ...      ...  ..      ...
 165                   NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 166                   NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 167                   NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 168                   NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502
 169                   NaN  SP  Mairiporã  São Paulo  Sudeste  11  3528502

      2024-10-14
 0    2024-10-14
 1    2024-10-14
 2    2024-10-14
 3    2024-10-14
 4    2024-10-14
 ..          ...
 165  2024-10-14
 166  2024-10-14
 167  2024-10-14
 168  2024-10-14
 169  2024-10-14

 [170 rows x 11 columns])

In [84]:
path = '/workspaces/projeto_ing/tests/app/src/teste_landing/'
resultado = carregamento_landing(path)
df = pd.DataFrame(resultado)
display(df)

item encontrado: /workspaces/projeto_ing/tests/app/src/teste_landing/resultado_cep_mairiporã_20241014_231236.txt

,07601-345,Avenida Hum,Olho D'Água,Unnamed: 3,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
0,07613-690,Avenida Rubi,Mantiqueira,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
1,07613-655,Avenida Ouro,Mantiqueira,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
2,07627-160,Avenida Berna,Luiz Fagundes,(Pq Suiço Cant 1 Gl),SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
3,07657-210,Avenida Alpes,Mato Dentro,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
4,07613-680,Avenida Safira,Mantiqueira,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
...,...,...,...,...,...,...,...,...,...,...,...
162,07661-000,Rodovia Fernão Dias,Terra Preta (Terra Preta),NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
163,07663-000,Rodovia Fernão Dias,Jundiaizinho (Terra Preta),NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
164,07629-000,Rodovia Fernão Dias,Capoavinha,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
165,07600-598,Rodovia Prefeito Luiz Salomao Chamma,Lavapés,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
166,07605-700,Rodovia Prefeito Luiz Salomao Chamma,Rio abaixo,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14

In [85]:
# path = '/workspaces/projeto_ing/tests/app/src/teste_landing/'
resultado = carregamento_landing()
df = pd.DataFrame(resultado)
display(df)

caminho não informado
utilizando o padrão:
/workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/
item encontrado: /workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/resultado_teste2_20242306_215405.txt
item encontrado: /workspaces/projeto_ing/tests/app/ambiente_test_ing/app/src/landing/resultado_cep_mairiporã_20241014_231311.txt

,07601-345,Avenida Hum,Olho D'Água,Unnamed: 3,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
0,07613-690,Avenida Rubi,Mantiqueira,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
1,07613-655,Avenida Ouro,Mantiqueira,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
2,07627-160,Avenida Berna,Luiz Fagundes,(Pq Suiço Cant 1 Gl),SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
3,07657-210,Avenida Alpes,Mato Dentro,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
4,07613-680,Avenida Safira,Mantiqueira,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
...,...,...,...,...,...,...,...,...,...,...,...
165,07600-598,Rodovia Prefeito Luiz Salomao Chamma,Lavapés,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
166,07605-700,Rodovia Prefeito Luiz Salomao Chamma,Rio abaixo,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
167,07600-740,Estrada Armando Barbosa de Almeida,Chácara Arantes,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
168,07604-525,Estrada Armando Barbosa de Almeida,Caceia,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14
169,07605-005,Estrada Armando Barbosa de Almeida,Rio abaixo,NaN,SP,Mairiporã,São Paulo,Sudeste,11,3528502,2024-10-14

In [79]:
display(resultado)

('/workspaces/projeto_ing/tests/app/src/teste_landing/',
 None,
      07601-345                           Avenida Hum  \
 0    07613-690                          Avenida Rubi
 1    07613-655                          Avenida Ouro
 2    07627-160                         Avenida Berna
 3    07657-210                         Avenida Alpes
 4    07613-680                        Avenida Safira
 ..         ...                                   ...
 162  07661-000                   Rodovia Fernão Dias
 163  07663-000                   Rodovia Fernão Dias
 164  07629-000                   Rodovia Fernão Dias
 165  07600-598  Rodovia Prefeito Luiz Salomao Chamma
 166  07605-700  Rodovia Prefeito Luiz Salomao Chamma

                     Olho D'Água            Unnamed: 3  SP  Mairiporã  \
 0                   Mantiqueira                   NaN  SP  Mairiporã
 1                   Mantiqueira                   NaN  SP  Mairiporã
 2                 Luiz Fagundes  (Pq Suiço Cant 1 Gl)  SP  Mairiporã
 3                   Mato Dentro                   NaN  SP  Mairiporã
 4                   Mantiqueira                   NaN  SP  Mairiporã
 ..                          ...                   ...  ..        ...
 162   Terra Preta (Terra Preta)                   NaN  SP  Mairiporã
 163  Jundiaizinho (Terra Preta)                   NaN  SP  Mairiporã
 164                  Capoavinha                   NaN  SP  Mairiporã
 165                     Lavapés                   NaN  SP  Mairiporã
 166                  Rio abaixo                   NaN  SP  Mairiporã

      São Paulo  Sudeste  11  3528502  2024-10-14
 0    São Paulo  Sudeste  11  3528502  2024-10-14
 1    São Paulo  Sudeste  11  3528502  2024-10-14
 2    São Paulo  Sudeste  11  3528502  2024-10-14
 3    São Paulo  Sudeste  11  3528502  2024-10-14
 4    São Paulo  Sudeste  11  3528502  2024-10-14
 ..         ...      ...  ..      ...         ...
 162  São Paulo  Sudeste  11  3528502  2024-10-14
 163  São Paulo  Sudeste  11  3528502  2024-10-14
 164  São Paulo  Sudeste  11  3528502  2024-10-14
 165  São Paulo  Sudeste  11  3528502  2024-10-14
 166  São Paulo  Sudeste  11  3528502  2024-10-14

 [167 rows x 11 columns])