In [90]:
import sys
import os
import pymongo
from pymongo import MongoClient
import pandas as pd
import sqlite3
import json
import importlib
import sql_conn
importlib.reload(sql_conn)

sys.path.append(os.path.abspath('/workspaces/projeto_ing/utils/shered_utils/'))
from sql_conn import conectar_bronze

In [ ]:
db_sqlite = "bnc_log_igtao.db"
# db_sqlite = "banco_cep.db"
conectar_bronze(db_sqlite)

conectado ao sqlite bronze: banco_cep.db
Tabelas no banco de dados:
tabela_cep

(<sqlite3.Connection at 0x702a8c2e4640>,
 <sqlite3.Cursor at 0x702a8c2c4040>,
 '/workspaces/projeto_ing/database/sqlite/bronze/banco_cep.db')

In [91]:
db_sqlite = "bnc_log_igtao.db"

conn, cursor, caminho_bronze, consulta, query = conectar_bronze(db_sqlite, tabela= "tb_log_igtao")
# print(bronze)

conectado ao sqlite bronze: bnc_log_igtao.db
Tabelas no banco de dados:
tabela_log_igtao
tb_log_igtao
('banco_logigtao', 'logigtao', 'arquivo_logigtao_20250224_104223.txt', 'txt', 20250224142210, '2025-02-24')
('banco_teste', 'teste', 'arquivo_teste_20250224_104223.txt', 'txt', 20250224142510, '2025-02-24')
('banco_teste', 'tabela_teste', 'arquivo_teste_20250224_104223.txt', 'txt', 20250224145404, '2025-02-24')
('banco_teste', 'tabela_teste', 'arquivo_teste_20250224_104223.txt', 'txt', 20250224145507, '2025-02-24')
('banco_teste', 'tabela_teste', 'arquivo_teste_20250224_104223.txt', 'txt', 20250224145518, '2025-02-24')
('banco_teste', 'tabela_teste', 'arquivo_teste_20250224_104223.txt', 'txt', 20250224145753, '2025-02-24')
('banco_mairipora', 'tabela_mairipora', 'arquivo_mairipora_20250224_104223.txt', 'txt', 20250224150135, '2025-02-24')
('banco_weather', 'tabela_weather', 'resultado_weather_20250108_163946.txt', 'txt', 20250225184651, '2025-02-25')

In [92]:
df_brnz = pd.read_sql_query(query, conn)
display(df_brnz)

,nome_banco,nome_tabela,nome_arquivo,tipo_arquivo,data_inclusao,dt_igtao
0,banco_logigtao,logigtao,arquivo_logigtao_20250224_104223.txt,txt,20250224142210,2025-02-24
1,banco_teste,teste,arquivo_teste_20250224_104223.txt,txt,20250224142510,2025-02-24
2,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145404,2025-02-24
3,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145507,2025-02-24
4,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145518,2025-02-24
5,banco_teste,tabela_teste,arquivo_teste_20250224_104223.txt,txt,20250224145753,2025-02-24
6,banco_mairipora,tabela_mairipora,arquivo_mairipora_20250224_104223.txt,txt,20250224150135,2025-02-24
7,banco_weather,tabela_weather,resultado_weather_20250108_163946.txt,txt,20250225184651,2025-02-25

In [93]:
records = json.loads(df_brnz.T.to_json()).values()
print(records)

dict_values([{'nome_banco': 'banco_logigtao', 'nome_tabela': 'logigtao', 'nome_arquivo': 'arquivo_logigtao_20250224_104223.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250224142210, 'dt_igtao': '2025-02-24'}, {'nome_banco': 'banco_teste', 'nome_tabela': 'teste', 'nome_arquivo': 'arquivo_teste_20250224_104223.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250224142510, 'dt_igtao': '2025-02-24'}, {'nome_banco': 'banco_teste', 'nome_tabela': 'tabela_teste', 'nome_arquivo': 'arquivo_teste_20250224_104223.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250224145404, 'dt_igtao': '2025-02-24'}, {'nome_banco': 'banco_teste', 'nome_tabela': 'tabela_teste', 'nome_arquivo': 'arquivo_teste_20250224_104223.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250224145507, 'dt_igtao': '2025-02-24'}, {'nome_banco': 'banco_teste', 'nome_tabela': 'tabela_teste', 'nome_arquivo': 'arquivo_teste_20250224_104223.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250224145518, 'dt_igtao': '2025-02-24'}, {'nome_banco': 'banco_teste', 'nome_tabela': 'tabela_teste', 'nome_arquivo': 'arquivo_teste_20250224_104223.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250224145753, 'dt_igtao': '2025-02-24'}, {'nome_banco': 'banco_mairipora', 'nome_tabela': 'tabela_mairipora', 'nome_arquivo': 'arquivo_mairipora_20250224_104223.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250224150135, 'dt_igtao': '2025-02-24'}, {'nome_banco': 'banco_weather', 'nome_tabela': 'tabela_weather', 'nome_arquivo': 'resultado_weather_20250108_163946.txt', 'tipo_arquivo': 'txt', 'data_inclusao': 20250225184651, 'dt_igtao': '2025-02-25'}])