In [11]:
import pandas as pd
import json
from faker import Faker

In [2]:
%pip install faker

Collecting faker
  Downloading Faker-30.8.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /home/codespace/.local/lib/python3.10/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in /home/codespace/.local/lib/python3.10/site-packages (from faker) (4.12.0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-30.8.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 29.0 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-30.8.1

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [12]:

# Inicializando o gerador de dados falsos
fake = Faker('pt_BR')

# Gerando um nome falso
print('---------')
print(fake.name())

# Gerando um endereço falso
print('---------')
print(fake.address())

# Gerando um email falso
print('---------')
print(fake.email())

---------
Brayan da Luz
---------
Ladeira Montenegro, 22
Liberdade
20701955 Vasconcelos / MT
---------
flima@example.com

In [93]:
fake = Faker('pt_BR')
print(fake.address())
print(fake.bairro())
print(fake.am_pm())
print('-------')
print(fake.cellphone_number())
print(fake.building_number())
print(fake.city())
print('-------')
print(fake.cnpj())
print(fake.company())
print(fake.company_email())
print(fake.company_id())
print(fake.coordinate())
print('-------')
print(fake.country())
print(fake.country_code())
print('-------')
print(fake.name())
print(fake.cpf())
print('-------')
print(fake.credit_card_expire())
print(fake.credit_card_full())
print(fake.credit_card_number())
print(fake.credit_card_provider())
print(fake.credit_card_security_code())
print('-----')
print(fake.currency())
print(fake.currency_code())
print(fake.currency_name())
print('-----')
# print(fake.csv())
print(fake.email())

Travessa de Aparecida, 9
Bela Vitoria
59833-498 da Rosa de Sales / RN
Santa Rosa
PM
-------
+55 82 95377-3444
80
Correia
-------
71.043.692/0001-01
Cavalcante
alexandre43@almeida.org
35610487000109
-51.971176
-------
Áustria
BE
-------
Ravi Cavalcante
936.274.081-87
-------
06/25
Mastercard
Ana Vitória Azevedo
2292359666926137 12/26
CVV: 454

4640071755556254
Discover
942
-----
('HKD', 'Hong Kong dollar')
UYU
Solomon Islands dollar
-----
monteiroluisa@example.com

In [ ]:
#criar gerador de dados sintéticos

In [104]:
import pandas as pd
from faker import Faker

fake = Faker('pt_BR')
dados = []


for _ in range(100):
    fake_name = fake.name()
    fake_cpf = fake.cpf()
    fake_email = fake.email()
    fake_cidade = fake.city()
    fake_ender = fake.address()
    fake_bairro = fake.bairro()
    fake_estado = fake.estado()
    fake_est_nome = fake.estado_nome()
    fake_est_sgla = fake.estado_sigla()
    fake_phone = fake.cellphone_number()
    fake_pais = fake.country()
    fake_pais_code = fake.country_code()
    fake_card_exp = fake.credit_card_expire()
    fake_card_full = fake.credit_card_full()
    fake_card_numb = fake.credit_card_number()
    fake_card_prv = fake.credit_card_provider()
    fake_card_secrt = fake.credit_card_security_code()
    fake_dt = fake.date()
    fake_hr = fake.date_time()

    
    dados.append({
        'nome': fake_name,
        'cpf': fake_cpf,
        'email': fake_email,
        'endereco': fake_ender,
        'bairro': fake_bairro,
        'estado': fake_estado,
        'estado_nome': fake_est_nome,
        'sigla': fake_est_sgla,
        'telefone': fake_phone,
        'pais': fake_pais,
        'code': fake_pais_code,
        'cartao_cred': fake_card_full,
        'cartao_num': fake_card_numb,
        'credt_exp': fake_card_exp,
        'cvv': fake_card_secrt,
        'data': fake_dt,
        'data_hora': fake_hr
        
    })
df = pd.DataFrame(dados)
display(df)

,nome,cpf,email,endereco,bairro,estado,estado_nome,sigla,telefone,pais,code,cartao_cred,cartao_num,credt_exp,cvv,data,data_hora
0,Danilo da Cunha,789.645.032-10,camargobenicio@example.org,"Alameda Câmara, 5\nConjunto São Francisco De A...",Bela Vitoria,"(RO, Rondônia)",Bahia,SP,+55 19 97013 7123,Wallis e Futuna,NZ,JCB 16 digit\nIan Castro\n3590297210533206 08/...,6011626117982591,04/26,864,1985-12-11,2021-12-23 01:54:29.344795
1,Sr. Francisco Pires,495.802.631-24,qcarvalho@example.org,Setor Garcia\nVila Santo Antônio Barroquinha\n...,Prado,"(PB, Paraíba)",Pernambuco,RO,+55 (03) 92649 5404,Barein,PL,Diners Club / Carte Blanche\nCauê Duarte\n3006...,3590858477376793,07/32,6495,1978-10-16,2000-12-29 22:22:50.521140
2,Catarina Cassiano,358.279.106-86,arthur-miguelsouza@example.net,"Área de Vieira, 66\nMinaslandia\n87069-025 Men...",Flavio De Oliveira,"(MT, Mato Grosso)",Acre,MG,+55 21 95509-3717,Dinamarca,CO,Diners Club / Carte Blanche\nIsabella das Neve...,5521633286902884,05/29,456,1987-06-29,2022-03-05 02:11:18.004736
3,Brayan Campos,946.175.023-43,wrezende@example.com,"Alameda Costa, 69\nVila Oeste\n54830-811 da Ma...",Gameleira,"(PI, Piauí)",Alagoas,GO,+55 (026) 99542-1368,Dinamarca,TR,VISA 16 digit\nBento Dias\n4943065327544925 02...,639049180420,03/28,044,2016-02-07,1977-04-20 13:11:20.944337
4,Rafael Dias,604.531.789-01,leandrosantos@example.com,"Rua Campos, 75\nSanta Inês\n52671-415 Gonçalve...",Marilandia,"(DF, Distrito Federal)",Bahia,MG,+55 (059) 94092-9583,Polinésia Francesa,LI,JCB 15 digit\nAna Júlia Fonseca\n1800021873643...,4623916246377877896,02/26,548,1973-12-04,2019-04-01 09:53:14.723005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Enzo Caldeira,490.716.285-58,maria-luisa44@example.org,"Passarela Leão, 5\nVila Da Amizade\n85809802 A...",Olhos D'água,"(SE, Sergipe)",Espírito Santo,RR,+55 (04) 9 9965-1816,Egito,NA,VISA 19 digit\nNathan Monteiro\n45398692981240...,3542989469988714,04/30,8962,2008-03-05,1991-01-05 06:57:24.161489
96,Isis Alves,378.659.204-74,marinamarques@example.org,"Vila Marcos Vinicius Sousa, 32\nVila Satélite\...",Vila Suzana Segunda Seção,"(GO, Goiás)",Minas Gerais,MT,+55 38 90266 9006,Faroé,TO,VISA 19 digit\nThiago Andrade\n414330550357228...,6011754724071655,02/31,630,1995-05-12,2015-02-03 16:53:12.576113
97,Dra. Carolina Teixeira,720.398.451-60,nferreira@example.net,"Trevo Machado, 41\nVila Bandeirantes\n80466923...",Pantanal,"(RO, Rondônia)",Pernambuco,MS,+55 (45) 9 7693 8710,Ilhas Caiman,HT,American Express\nRhavi Pinto\n342043951241741...,583259519374,07/25,685,1998-07-03,1994-02-12 05:06:02.642526
98,Maria Flor Peixoto,563.704.129-61,caldeiraisabel@example.org,Estação de Ferreira\nVila Antena\n43990584 Nov...,Cônego Pinheiro 1ª Seção,"(RR, Roraima)",Rio Grande do Norte,BA,+55 (88) 94869-3922,Panamá,RS,Maestro\nNoah Sampaio\n676104376972 02/25\nCVV...,3504535751796426,12/30,783,1990-06-06,1999-07-29 17:52:42.297680
99,Luigi Cassiano,921.637.045-99,nina78@example.net,"Condomínio Azevedo, 56\nCinquentenário\n21794-...",Vila Independencia 2ª Seção,"(RS, Rio Grande do Sul)",Bahia,PB,+55 (095) 92617-3831,Jamaica,LI,VISA 19 digit\nLuara Cassiano\n426940147267482...,4772053320529271,08/33,916,1985-05-16,1992-05-02 08:21:48.336507