In [1]:
import pandas as pd
import sqlite3

In [2]:
bd = 'banco_geo.db'
banco_caminho = f'/workspaces/projeto_ing/INGESTION/database/{bd}'
conn = sqlite3.connect(banco_caminho)
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(tabela_slvr_geo)")

# Recupere os resultados da consulta
colunas = cursor.fetchall()

for coluna in colunas:
    print(coluna[1])

id
nome
id_mun
nm_mun
id_mcr
nm_mcr
id_uf
nm_uf
sigla_uf
id_reg
nm_reg
sigla_rg
dt_igtao

In [3]:
query = 'select * from tabela_slvr_geo limit 5'
cursor.execute(query)
resultado = cursor.fetchall()
for linha in resultado:
    print(linha)

(291790410, 'Abadia', 2917904, 'Jandaíra', 2904, 'Nordeste Baiano', 29, 'Bahia', 'BA', 2, 'Nordeste', 'NE', '2024-07-14')
(311350310, 'Abadia de Carbonita', 3113503, 'Carbonita', 3103, 'Jequitinhonha', 31, 'Minas Gerais', 'MG', 3, 'Sudeste', 'SE', '2024-07-14')
(520005005, 'Abadia de Goiás', 5200050, 'Abadia de Goiás', 5203, 'Centro Goiano', 52, 'Goiás', 'GO', 5, 'Centro-Oeste', 'CO', '2024-07-14')
(310010405, 'Abadia dos Dourados', 3100104, 'Abadia dos Dourados', 3105, 'Triângulo Mineiro/Alto Paranaíba', 31, 'Minas Gerais', 'MG', 3, 'Sudeste', 'SE', '2024-07-14')
(520010005, 'Abadiânia', 5200100, 'Abadiânia', 5204, 'Leste Goiano', 52, 'Goiás', 'GO', 5, 'Centro-Oeste', 'CO', '2024-07-14')

In [4]:
df = pd.DataFrame(resultado, columns=['id', 'nome', 'id_mun', 'nm_mun', 'id_mcr', 'nm_mcr', 'id_uf', 'nm_uf', 'sigla_uf', 'id_reg', 'nm_reg', 'sigla_rg', 'dt_igtao'])
print(df.head())
df.to_sql(name='tabela_gld_geo', con=conn, if_exists = 'append', index = False)
print('tabela ingerida')

          id                 nome   id_mun               nm_mun  id_mcr  \
0  291790410               Abadia  2917904             Jandaíra    2904
1  311350310  Abadia de Carbonita  3113503            Carbonita    3103
2  520005005      Abadia de Goiás  5200050      Abadia de Goiás    5203
3  310010405  Abadia dos Dourados  3100104  Abadia dos Dourados    3105
4  520010005            Abadiânia  5200100            Abadiânia    5204

                             nm_mcr  id_uf         nm_uf sigla_uf  id_reg  \
0                   Nordeste Baiano     29         Bahia       BA       2
1                     Jequitinhonha     31  Minas Gerais       MG       3
2                     Centro Goiano     52         Goiás       GO       5
3  Triângulo Mineiro/Alto Paranaíba     31  Minas Gerais       MG       3
4                      Leste Goiano     52         Goiás       GO       5

         nm_reg sigla_rg    dt_igtao
0      Nordeste       NE  2024-07-14
1       Sudeste       SE  2024-07-14
2  Centro-Oeste       CO  2024-07-14
3       Sudeste       SE  2024-07-14
4  Centro-Oeste       CO  2024-07-14
tabela ingerida

In [5]:
query = 'select * from tabela_gld_geo limit 5'
cursor.execute(query)
resultado = cursor.fetchall()
for linha in resultado:
    print(linha)

(291790410, 'Abadia', 2917904, 'Jandaíra', 2904, 'Nordeste Baiano', 29, 'Bahia', 'BA', 2, 'Nordeste', 'NE', '2024-07-14')
(311350310, 'Abadia de Carbonita', 3113503, 'Carbonita', 3103, 'Jequitinhonha', 31, 'Minas Gerais', 'MG', 3, 'Sudeste', 'SE', '2024-07-14')
(520005005, 'Abadia de Goiás', 5200050, 'Abadia de Goiás', 5203, 'Centro Goiano', 52, 'Goiás', 'GO', 5, 'Centro-Oeste', 'CO', '2024-07-14')
(310010405, 'Abadia dos Dourados', 3100104, 'Abadia dos Dourados', 3105, 'Triângulo Mineiro/Alto Paranaíba', 31, 'Minas Gerais', 'MG', 3, 'Sudeste', 'SE', '2024-07-14')
(520010005, 'Abadiânia', 5200100, 'Abadiânia', 5204, 'Leste Goiano', 52, 'Goiás', 'GO', 5, 'Centro-Oeste', 'CO', '2024-07-14')

In [6]:
conn.commit()
conn.close()